@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    background:var(--global-palette9);
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:1.15;
    font-family:var(--global-body-font-family);
    color:var(--global-palette4);
  }  
* { 
    box-sizing: inherit;
} 

body { 
    margin: 0;
} 

body { 
    background: var(--global-palette8);
} 

body { 
    font-style: normal; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 1.6; 
    font-family: var(--global-body-font-family); 
    color: var(--global-palette4);
} 

html { 
    --wp-admin--admin-bar--height: 32px; 
    scroll-padding-top: var(--wp-admin--admin-bar--height);
} 

html { 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
} 

html { 
    box-sizing: border-box;
} 

html { 
    margin-top: 32px !important;
} 

:root { 
    --global-palette1: #f7931d; 
    --global-palette3: #1f2933; 
    --global-palette4: #3e4c59; 
    --global-palette8: #f9f9fb; 
    --global-palette9: #ffffff; 
    --global-palette-highlight: var(--global-palette1); 
    --global-palette-highlight-alt: #0ecaee; 
    --global-palette-highlight-alt2: var(--global-palette9); 
    --global-palette-btn-bg: var(--global-palette1); 
    --global-palette-btn-bg-hover: #551d79; 
    --global-palette-btn: #ffffff; 
    --global-palette-btn-hover: #ffffff; 
    --global-body-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    --global-primary-nav-font-family: Montserrat, sans-serif; 
    --global-content-width: 1290px; 
    --global-content-edge-padding: 1.5rem; 
    --global-calc-content-width: calc(1290px - var(--global-content-edge-padding) - var(--global-content-edge-padding) ); 
    --wp--style--global--content-size: var(--global-calc-content-width);
} 

#masthead { 
    background: #ffffff;
} 

#masthead { 
    position: relative; 
    z-index: 11;
} 

@media (min-width: 1025px){ 
  #masthead  { 
    position: absolute; 
    left: 0px; 
    right: 0px; 
    z-index: 100;
  } 

  #masthead  { 
    background: transparent;
  } 
}     

*,:before,:after { 
    box-sizing: inherit;
} 

#main-header { 
    display: none;
} 

@media screen and (min-width: 1025px){ 
  #main-header { 
    display: block;
  } 

  #mobile-header { 
    display: none;
  } 
}     

.site-header-upper-inner-wrap.child-is-fixed { 
    display: flex; 
    align-items: flex-end;
} 

.kadence-sticky-header { 
    position: relative; 
    z-index: 1;
} 

.item-is-fixed { 
    position: fixed; 
    left: 0; 
    right: 0; 
    z-index: 1200;
} 

.site-header-upper-inner-wrap.child-is-fixed .site-main-header-wrap  { 
    width: 100%;
} 

@media (min-width: 1025px){ 
  .site-main-header-wrap .site-header-row-container-inner  { 
    background: transparent;
  } 
}     

.site-container { 
    margin: 0 auto; 
    padding: 0 var(--global-content-edge-padding);
} 

.site-container { 
    max-width: var(--global-content-width);
} 

.site-header-row-layout-fullwidth > .site-header-row-container-inner > .site-container  { 
    max-width: none;
} 

.site-main-header-inner-wrap { 
    min-height: 80px;
} 

.site-header-row { 
    display: grid; 
    grid-template-columns: auto auto;
} 

.site-header-section { 
    display: flex; 
    max-height: inherit;
} 

.site-header-section-right { 
    justify-content: flex-end;
} 

.site-header-item { 
    display: flex; 
    align-items: center; 
    margin-right: 10px; 
    max-height: inherit;
} 

.site-header-section > .site-header-item:last-child  { 
    margin-right: 0;
} 

.site-branding { 
    padding: 0px 0px 0px 0px;
} 

.site-branding { 
    max-height: inherit;
} 

.header-navigation { 
    display: flex;
} 

a { 
    background-color: transparent;
} 

a { 
    color: var(--global-palette-highlight); 
    transition: all .1s linear;
} 

.site-branding a.brand  { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    max-height: inherit;
} 

a:hover,a:active { 
    color: var(--global-palette-highlight-alt);
} 

a:hover,a:active { 
    outline: 0;
} 

.header-menu-container { 
    display: flex;
} 

button { 
    font-size: 100%; 
    margin: 0;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button;
} 

button { 
    border-radius: 3px; 
    background: var(--global-palette-btn-bg); 
    color: var(--global-palette-btn); 
    padding: 0.4em 1em; 
    border: 0; 
    line-height: 1.6; 
    display: inline-block; 
    font-family: inherit; 
    cursor: pointer; 
    text-decoration: none; 
    transition: all 0.2s ease; 
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
} 

button { 
    font-style: normal; 
    font-weight: 600; 
    line-height: 1.2; 
    letter-spacing: 0em; 
    font-family: Montserrat, sans-serif; 
    text-transform: capitalize; 
    border-radius: 100px; 
    padding: 17px 35px 17px 35px; 
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
} 

.menu-toggle-open { 
    display: flex; 
    background: transparent; 
    align-items: center; 
    box-shadow: none;
} 

.mobile-toggle-open-container .menu-toggle-open  { 
    color: var(--global-palette3); 
    padding: 0.4em 0.6em 0.4em 0.6em; 
    font-size: 14px;
} 

.menu-toggle-open.menu-toggle-style-default { 
    border: 0;
} 

.menu-toggle-open  { 
    box-shadow: none;
} 

button:hover,button:active { 
    color: var(--global-palette-btn-hover); 
    background: var(--global-palette-btn-bg-hover); 
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0.1);
} 

button:hover,button:active { 
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0);
} 

.menu-toggle-open:hover { 
    border-color: currentColor; 
    background: transparent; 
    box-shadow: none;
} 

.mobile-toggle-open-container .menu-toggle-open:hover { 
    color: var(--global-palette-highlight);
} 

img { 
    border-style: none;
} 

img { 
    display: block; 
    height: auto; 
    max-width: 100%;
} 

.site-branding a.brand img  { 
    max-width: 200px;
} 

.site-branding a.brand img  { 
    display: block;
} 

ul { 
    box-sizing: border-box;
} 

ul { 
    margin: 0 0 1.5em 1.5em; 
    padding: 0;
} 

ul { 
    list-style: disc;
} 

.header-navigation .menu  { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.button { 
    border-radius: 3px; 
    background: var(--global-palette-btn-bg); 
    color: var(--global-palette-btn); 
    padding: 0.4em 1em; 
    border: 0; 
    line-height: 1.6; 
    display: inline-block; 
    font-family: inherit; 
    cursor: pointer; 
    text-decoration: none; 
    transition: all 0.2s ease; 
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
} 

.button { 
    font-style: normal; 
    font-weight: 600; 
    line-height: 1.2; 
    letter-spacing: 0em; 
    font-family: Montserrat, sans-serif; 
    text-transform: capitalize; 
    border-radius: 100px; 
    padding: 17px 35px 17px 35px; 
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
} 

.button:visited { 
    background: var(--global-palette-btn-bg); 
    color: var(--global-palette-btn);
} 

#main-header .header-button  { 
    margin: 0px 0px 0px 20px; 
    border-radius: 30px 0px 30px 30px; 
    border: 2px none transparent; 
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
} 

.button:hover,.button:active { 
    color: var(--global-palette-btn-hover); 
    background: var(--global-palette-btn-bg-hover); 
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0.1);
} 

.button:hover,.button:active { 
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0);
} 

#main-header .header-button:hover { 
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0);
} 

.menu-toggle-open .menu-toggle-icon  { 
    display: flex;
} 

.mobile-toggle-open-container .menu-toggle-open .menu-toggle-icon  { 
    font-size: 30px;
} 

.nav--toggle-sub li.menu-item-has-children  { 
    position: relative;
} 

.kadence-svg-iconset { 
    display: inline-flex; 
    align-self: center;
} 

.header-navigation li.menu-item > a  { 
    display: block; 
    width: 100%; 
    text-decoration: none; 
    color: var(--global-palette4); 
    transition: all .2s ease-in-out; 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0);
} 

.header-navigation ul li.menu-item > a  { 
    padding: 0.6em 0.5em;
} 

.main-navigation .primary-menu-container > ul > li.menu-item > a  { 
    padding-left: calc(2.05em / 2); 
    padding-right: calc(2.05em / 2); 
    padding-top: 0.6em; 
    padding-bottom: 0.6em; 
    color: var(--global-palette3);
} 

.main-navigation .primary-menu-container > ul li.menu-item > a  { 
    font-style: normal; 
    font-weight: 600; 
    font-size: 18px; 
    font-family: var(--global-primary-nav-font-family);
} 

.header-navigation li.menu-item > a:hover { 
    color: var(--global-palette-highlight);
} 

.main-navigation .primary-menu-container > ul > li.menu-item > a:hover { 
    color: var(--global-palette-highlight);
} 

.nav--toggle-sub .dropdown-nav-special-toggle  { 
    position: absolute !important; 
    overflow: hidden; 
    padding: 0 !important; 
    margin: 0 !important; 
    margin-right: -0.1em !important; 
    border: 0 !important; 
    width: 0.9em; 
    top: 0; 
    bottom: 0; 
    height: auto; 
    border-radius: 0; 
    box-shadow: none !important; 
    background: transparent !important; 
    display: block; 
    left: auto; 
    right: calc( 1.4em / 2); 
    pointer-events: none;
} 

.main-navigation .primary-menu-container > ul > li.menu-item .dropdown-nav-special-toggle  { 
    right: calc(2.05em / 2);
} 

li > ul  { 
    margin-bottom: 0; 
    margin-left: 1.5em;
} 

.header-navigation ul.sub-menu  { 
    display: block; 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.header-navigation ul ul.sub-menu  { 
    display: none; 
    position: absolute; 
    top: 100%; 
    flex-direction: column; 
    background: #fff; 
    margin-left: 0; 
    box-shadow: 0 2px 13px rgba(0,0,0,0.1); 
    z-index: 1000;
} 

.header-navigation .header-menu-container ul ul.sub-menu  { 
    background: var(--global-palette3); 
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.1);
} 

.header-navigation li.menu-item > a:hover, .header-navigation li.menu-item > a:focus { 
    color: var(--global-palette-highlight);
} 

.kadence-svg-iconset svg  { 
    height: 1em; 
    width: 1em;
} 

.nav-drop-title-wrap { 
    position: relative; 
    padding-right: 1em; 
    display: block;
} 

.header-navigation .header-menu-container ul ul li.menu-item  { 
    border-bottom: 1px solid rgba(255,255,255,0.1);
} 

.header-navigation ul ul.sub-menu > li:last-child  { 
    border-bottom: 0;
} 

.nav--toggle-sub .dropdown-nav-toggle  { 
    display: block; 
    background: transparent; 
    position: absolute; 
    right: 0; 
    top: 50%; 
    width: 0.9em; 
    height: 0.9em; 
    font-size: 0.9em; 
    display: inline-flex; 
    line-height: inherit; 
    margin: 0; 
    padding: 0; 
    border: none; 
    border-radius: 0; 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%); 
    overflow: visible; 
    transition: opacity 0.2s ease;
} 

.header-navigation ul ul li.menu-item > a  { 
    padding: 1em;
} 

.header-navigation ul ul li.menu-item > a  { 
    width: 200px;
} 

.header-navigation .header-menu-container ul ul li.menu-item > a  { 
    width: 200px; 
    padding-top: 1em; 
    padding-bottom: 1em; 
    color: var(--global-palette9); 
    font-style: normal; 
    font-size: 16px;
} 

.header-navigation .header-menu-container ul ul li.menu-item > a:hover { 
    color: var(--global-palette9); 
    background: var(--global-palette1);
} 

.kadence-svg-iconset.svg-baseline svg  { 
    top: .125em; 
    position: relative;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-qBi2W.style-qBi2W {  
   height: 80px;  
}  
#style-grcBw.style-grcBw {  
   top: 32px;  
}  
#style-aw6Gv.style-aw6Gv {  
   height: 80px;  
    min-height: 80px;  
    max-height: 80px;  
}  
#style-kkDnh.style-kkDnh {  
   max-height: 100%;  
}  
